//* 公共样式
.category {
    color: $base-color;
    border: 1rpx solid $base-color;
    border-radius: 30rpx;
    padding: 0 10rpx;
}

.browse {
    color: #707070;
}

.bottom {
    margin-top: 20rpx;
    font-size: 25rpx;
    @include flex();
    width: 100%;
}



//: 普通卡片
.defCard {
    @include flex();
    padding: 20rpx;
    margin: 20rpx;
    box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, .1);
    border-radius: 20rpx;

    .defCard-left {
        flex-shrink: 0;
        border-radius: 10rpx;
        overflow: hidden;
        width: 140rpx;
        height: 140rpx;
        object-fit: cover;
        object-position: center;

    }

    .defCard-right {
        @include flex(space-between, column);
        width: 100%;
        padding-left: 30rpx;
        .defCard-right-top {
            @include flex();
            font-size: 25rpx;
            align-items: center;
            width: 100%;
            .text {
                padding: 0 10rpx;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        .defCard-right-bottom {
            @include flex();
            width: 100%;
            font-size: 25rpx;
            margin-top: 20rpx;

            .category {
                margin-left: 20rpx;
            }
        }
    }
}

//: 多图卡片
.MuchCard {
    @include flex(flex-start, column);
    padding: 20rpx;
    margin: 20rpx;
    box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, .1);
    border-radius: 20rpx;

    .MuchCard-top {
        @include flex();
        width: 100%;
        font-size: 25rpx;
    }

    .MuchCard-middle {
        @include flex();
        margin: 20rpx 0;
        width: 100%;

        .image {
            width: 32%;
            overflow: hidden;
            border-radius: 20rpx;
            height: 130rpx;

        }
    }


}

//: 大图卡片
.BigCard {
    @include flex(flex-start, column);
    padding: 20rpx;
    margin: 20rpx;
    box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, .1);
    border-radius: 20rpx;

    .BigCard-top {
        width: 100%;
        overflow: hidden;
        border-radius: 20rpx;
        height: 300rpx
    }

    .BigCard-middle {
        margin-top: 20rpx;
        @include flex();
        width: 100%;
        font-size: 25rpx;
    }


}